.footer {
    background-color:#282c34;
    padding: 1.8rem 1rem;
    text-align: center;
    color: #ccc;
    font-size: 0.85rem;
  }
  
  .redes {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .redes a {
    color: #66fcf1;
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .redes a:hover {
    color: #45e6d6;
    transform: scale(1.2);
  }
  
  .footer p {
    font-size: 0.9rem;
  }
  
